.signUpContainer{
    height: 100vh;
    width: 100%;
    background-color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subSignInContainer1{
    height: 30.5rem;
    width: 22rem;
    background-color: rgb(240, 240, 240);
    border: solid red 1px;  
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.signIn1{
    height: rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.inputUserContainer1{
    height: 23rem;
    background-color: rgb(255,77,77);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.subInputUserContainer2, .subInputUserContainer3{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 0.5rem;
}

.subInputUserContainer3{
    margin-top: 1rem;
    flex-direction: column;
}
.inputUser1{
    height: 3rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.inputUser2{
    height: 3rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.inputUser3{
    height: 3rem;
    width: 20.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.text2{
    margin-bottom: 0.5rem;
}

.backButton{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*tablet*/
@media only screen and (min-width: 601px){
    .subSignInContainer1{
        width: 30rem;
    }

    .subInputUserContainer2{
        width: 100%;
    }

    .inputUser1{
        width: 29.5%;
    }

    .inputUser2{
        width: 95%;
    }

    .inputUser3{
        width: 97%;
    }
}