*{
    margin: 0;
    padding: 0;
}

body{
    background-color: snow;
    font-family: system-ui, -apple-system;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    height: 35rem;
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
    border: solid red 1px;
}

.notifContainer{
    height: 31rem;
    overflow: auto;
}

.subNotifContainer{
    height: 9rem;
    border-radius: 0.5rem;
    background-color: snow;
    margin-bottom: 1rem;
    border: solid rgb(204, 204, 204) 1px;
}

.buttonContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton{
    height: 3rem;
    width: 8rem;
    border: none;
    background: linear-gradient(to right, rgb(255,148,148), rgb(255,35,35));
    cursor: pointer;
    transition: all 0.15s;
    color: white;
    border-radius: 0.5rem;
}

.backButton:hover{
    background: linear-gradient(to right, rgb(255,192,192), rgb(255,87,87));
    color: black;
}

.backButton:active{
    background: linear-gradient(to right, rgb(255,87,87), rgb(255,0,0));
    color: white;
}