.signUpContainer{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgb(255,148,148), white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.subSignInContainer1{
    height: 35rem;
    width: 22rem;
    background-color: snow;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.signIn1{
    height: rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.inputUserContainer1{
    height: 28rem;
    background-color: rgb(255,77,77);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.subInputUserContainer2, .subInputUserContainer3{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 0.5rem;
}

.subInputUserContainer3{
    margin-top: 1rem;
    flex-direction: column;
}
.inputUser1{
    height: 3rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.inputUser2{
    height: 3rem;
    width: 20rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.inputUser3{
    height: 3rem;
    width: 20.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.text2{
    margin-bottom: 0.5rem;
}