.image6{
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.5rem;
    filter: invert(100%);
}

.image6:hover{
    background-color: snow;
    border-radius: 0.5rem;
}

.image6:active{
    background-color: rgb(248, 197, 197);
}

.container2{
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.subContainer2{
    height: 95%;
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
    border: solid red 1px;
    overflow: auto;
}

.itemImageContainer{
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.subItemImageContainer{
    height: 20rem;
    width: 100%;
}

.imageContainer3{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: snow;
}

.slideshow-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: snow;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
  }

  .mySlides {
    height: 100%;
    width: 100%;
    animation: fade 1s ease-in-out; /* Add fade animation */
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(128, 128, 128, 0.644);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .image10{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.infoContainer{
    height: 15rem;
}

.itemNameContainer{
    height: 100%;
    width: 100%;
}

.subItemNameContainer{
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    overflow: auto;
    column-gap: 1rem;
}

.priceContainer{
    height: 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.image1{
    height: 2rem;
}

.quantity{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: none;
    background: linear-gradient(to right, rgb(255,148,148), rgb(255,35,35));
    cursor: pointer;
    transition: all 0.15s;
    color: white;
}

.quantity:hover{
    background: linear-gradient(to right, rgb(255,192,192), rgb(255,87,87));
    color: black;
}

.quantity:active{
    background: linear-gradient(to right, rgb(255,87,87), rgb(255,0,0));
    color: white;
}

.addToCart{
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: solid rgb(255,35,35) 1px;
    background-color: transparent;
    font-size: 1.1rem;
}

.addToCart:hover{
    background: linear-gradient(to right, rgb(255,192,192), rgb(255,87,87));
    color: black;
}

.addToCart:active{
    background: linear-gradient(to right, rgb(255,87,87), rgb(255,0,0));
    color: white;
}

.descriptionContainer{
    margin-top: 1rem;
}

.subDescriptionContainer{
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold
}

.description{
    font-size: 1.3rem;
}

.feedbackContainer{
    height: 27rem;
    margin-top: 1rem;
    border: solid gray 1px;
    border-radius: 0.5rem;
}

.subFeedbackContainer{
    height: 23rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: snow;
    display: flex;
    row-gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.feedback{
    height: 11rem;
    width: 100%;
    border-bottom: solid gray 1px;
}

.subFeedback{
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    overflow: auto;
    padding-top: 1rem;
}

.usernameContainer{
    height: 2rem;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.feedbackChatContainer{
    height: 4rem;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: snow;
    border-radius: 0 0 0.5rem 0.5rem;
}

.chatContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat{
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(192, 192, 192);
    padding-left: 0.5rem;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.sendContainer{
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.send{
    height: 2.5rem;
}

/*tablet*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .imageContainer3{
        width: 20rem;
    }
    
    .subItemImageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*laptop*/
@media only screen and (min-width: 1025px){
    .itemImageContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25rem;
    }  
    
    .imageContainer3{
        width: 25rem;
        height: 25rem;
    }

    .itemNameContainer{
        height: 25rem;
    }

    .descriptionContainer{
        width: 100%;
    }

    .subItemImageContainer{
        width: 25rem;
        height: 25rem;
    }

    .itemNameContainer{
        width: 100%;
    }
    .infoContainer{
        width: 100%;
    }
}