*{
    margin: 0;
    padding: 0;
}

body{
    background-color: snow;
    font-family: system-ui, -apple-system;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subContainer{
    height: 35rem;
    width: 90%;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
    border: solid red 1px;
    padding: 0.5rem;
}

.imageContainer{
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uploadButtonCoontainer{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadButton{
    color: transparent;
}

.uploadImage{
    height: 1.313rem;
    width: 8rem;
    margin-right: 0.5rem;
    margin-left: 25.5%;
    cursor: pointer;
    transition: all 0.15s;
}

.uploadImage:hover{
    background-color: lightgray;
    border: none;
}

.uploadImage:active{
    background-color: white;
}

.subImageContainer{
    height: 10rem;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: snow;
    border: solid gray 1px;
}

.image{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.backButtonContainer{
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;

}

.subbackButtonContainer{
    height: 100%;
    width: 3rem;
    margin-left: 1.4rem;
}

.backButton{
    height: 100%;
    width: 100%;
    transition: all 0.15s;
}

.backButton:hover{
    background-color: snow;
    border-radius: 0.5rem;
}

.slideshow-container {
    position: relative;
    height: 10rem;
    margin: auto;
    background-color: snow;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
  }

  .mySlides {
    height: 100%;
    width: 100%;
    animation: fade 1s ease-in-out; /* Add fade animation */
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(128, 128, 128, 0.644);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.infoContianer{
    height: 24rem;
}

.subInfoContainer{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.inputInfo{
    height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: snow;
    border: solid gray 1px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stockContainer{
    height: 12rem;
}

.subStockContainer{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.sizeContainer{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 0.5rem;
}

.size{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: solid gray 1px;
    text-align: center;
    font-size: 1.1rem;
}

.editButtonContainer{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.editButton{
    height: 2.5rem;
    width: 8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    background: linear-gradient(to right, rgb(255,148,148), rgb(255,35,35));
    color: rgb(41,41,41);
    cursor: pointer;
    transition: all 0.15s;
    color: white;
}

.editButton:hover{
    background: linear-gradient(to right, rgb(255,192,192), rgb(255,87,87));
    color: black;
}

.editButton:active{
    background: linear-gradient(to right, rgb(255,87,87), rgb(255,0,0));
    color: white;
}


/*tablet*/
@media only screen and (min-width: 601px){
    .subContainer{
        width: 30rem;
    }

    .uploadImage{
        margin-left: 8.5rem;
    }
}